* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.cover {
    width: 50rem;
    margin: auto;
    margin-top: 10rem;
}

.cover, .screen, button {
    border: .2rem solid black;
    border-radius: .5rem;
    background: rgba(0,0,0,0.4);
    padding: 1rem .5rem;
    font-size: 4rem;
}

.screen, button {
    margin: 0.8rem;
}

.screen {
    height: 10rem;
    background: white;
    display: flex;
    flex-direction: column;
}

.operations {
    font-size: 3rem;
    color: rgba(0,0,0,0.5) ;
    flex: 1;
    text-align: right;
}

.result {
    font-size: 4rem;
    color: rgba(0,0,0,0.7) ;
    flex: 1;
    text-align: right;
}   

.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

button:hover {
    opacity: 0.5;
}

.digit, .fun {
    text-shadow: 0 0 .5rem black;
    text-align: center;
    color: white;
}

.del {
    font-size: 3rem;
    padding: 1.5rem .5rem;
    background-color: rgb(255, 0, 0,0.5);
}
  
.equal {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    text-shadow: none;
    grid-area: span 1 / span 2;
}