* {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.cover {
    width: 13rem;
    margin: auto;
    margin-top: 2rem;
    padding: 0.2rem;
    background: rgba(0,0,0,0.4); 
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    flex-shrink: 1;
}

/*      DISPLAY      */
.screen {
    height: 3rem;
    margin: 0.2rem;
    background: white;
    display: flex;
    flex-direction: column;
    grid-area: span 1 / span 5;
}

.operations {
    color: rgba(0,0,0,0.5) ;
    flex: 1;
    text-align: right;
}
.result {
    font-size: 1.5rem;
    color: rgba(0,0,0,0.7) ;
    flex: 1;
    text-align: right;
}  


/*      BUTTONS      */
button {
    margin: 0.2rem;
    height: 1.5rem;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.4);
}

.border, button {
    border: 2px solid black;
    border-radius: .15rem;
}

button:hover {
    opacity: 0.5;
}

.equal {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    text-shadow: none;
    grid-area: span 1 / span 2;
}
 

.del {
    font-size: 0.8rem;
    background-color: rgb(255, 0, 0,0.5);
    text-shadow: none;
}
  

/*      PORTFOLIO        */
.portfolio {
    display: flex;
    gap: 2rem;
    margin: auto;
    margin-top: 20px;
}

a, a:visited {
    all: unset;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  grey;
}
    
a:hover {
    color:  rgba(128, 128, 128, 0.6);
}